.registerDesign {
    min-height: 66vh;
    min-width: 98vw;

    background-color:#9D9D9D;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.error {
    color:#CA2F2F;
}

.registerTitle{
    height: 10vh;
    min-width: 98vw;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "notable", sans-serif;
    font-size: 2em;
    color: #F7F700;
    background-color: #616161;
}