.CustomButtonDesign {
    height: 4em;
    width: 10em;

    border-radius: 0.5em;
    margin: 1em;

    background-color:darkslateblue;
    color: white;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;
}

.CustomButtonDesign:hover {

    cursor: pointer;
    transition: 0.2s;
    background-color: blueviolet;
}