.facilitiesDesign {
    min-height: 76vh;
    min-width: 100vw;

    background-color:#9D9D9D;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cardRoster {
    min-height: 50vh;
    min-width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cardDesign {

    height: 25em;
    width: 14em;

    border-radius: 0.5em;

    background-color: #12120E;

    transition: 0.5s;

    margin: 0.5em;
    padding: 1.1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .cardDesign:hover{
    transition: 0.5s;

    background-color:lightseagreen;
    cursor: pointer;
} */

.cardTitle{
    font-family: "notable", sans-serif;
    font-size: 1.15em;
    color: white;
    margin: 1em;
}